packages:
  yum:
    redis6: []

commands:
  set_redis_memory_limit:
    command: "echo 'maxmemory 200MB' | sudo tee -a /etc/redis.conf"
    ignoreErrors: true

  start_redis:
    command: "sudo systemctl start redis6"
    ignoreErrors: true

  enable_redis:
    command: "sudo systemctl enable redis6"
    ignoreErrors: true