:root {
  --typography-display-sm-family: Inter;
  --typography-display-sm-size: 72px;
  --typography-display-sm-weight-base: 500;
  --typography-display-sm-line-height: 90px;
  --typography-display-sm-letter-spacing: -2.4px;
  --typography-display-sm-weight-strong: 600;
  --typography-display-sm-weight-emphasis: 700;
  --typography-display-lg-family: Inter;
  --typography-display-lg-size: 96px;
  --typography-display-lg-weight-base: 500;
  --typography-display-lg-line-height: 110px;
  --typography-display-lg-letter-spacing: -2.5px;
  --typography-display-lg-weight-strong: 600;
  --typography-display-lg-weight-emphasis: 700;
  --typography-heading-2xl-family: Inter;
  --typography-heading-2xl-size: 64px;
  --typography-heading-2xl-weight-base: 500;
  --typography-heading-2xl-line-height: 78px;
  --typography-heading-2xl-letter-spacing: -2.3px;
  --typography-heading-2xl-weight-strong: 600;
  --typography-heading-lg-family: Inter;
  --typography-heading-lg-size: 40px;
  --typography-heading-lg-weight-base: 500;
  --typography-heading-lg-line-height: 48px;
  --typography-heading-lg-letter-spacing: -1.5px;
  --typography-heading-lg-weight-strong: 600;
  --typography-heading-md-family: Inter;
  --typography-heading-md-size: 32px;
  --typography-heading-md-weight-base: 500;
  --typography-heading-md-line-height: 42px;
  --typography-heading-md-letter-spacing: -0.75px;
  --typography-heading-md-weight-strong: 600;
  --typography-heading-xl-family: Inter;
  --typography-heading-xl-size: 56px;
  --typography-heading-xl-weight-base: 500;
  --typography-heading-xl-line-height: 66px;
  --typography-heading-xl-letter-spacing: -1.75px;
  --typography-heading-xl-weight-strong: 600;
  --typography-heading-sm-family: Inter;
  --typography-heading-sm-size: 24px;
  --typography-heading-sm-weight-base: 500;
  --typography-heading-sm-line-height: 32px;
  --typography-heading-sm-letter-spacing: -0.4px;
  --typography-heading-sm-weight-strong: 600;
  --typography-label-md-family: Inter;
  --typography-label-md-size: 16px;
  --typography-label-md-weight-strong: 500;
  --typography-label-md-line-height: 24px;
  --typography-label-md-letter-spacing: -0.3px;
  --typography-label-md-weight-base: 400;
  --typography-label-sm-family: Inter;
  --typography-label-sm-size: 14px;
  --typography-label-sm-weight-strong: 500;
  --typography-label-sm-line-height: 20px;
  --typography-label-sm-letter-spacing: -0.2px;
  --typography-label-sm-weight-base: 400;
  --typography-label-xs-family: Inter;
  --typography-label-xs-size: 12px;
  --typography-label-xs-weight-strong: 500;
  --typography-label-xs-line-height: 16px;
  --typography-label-xs-letter-spacing: -0.2px;
  --typography-label-xs-weight-base: 400;
  --typography-label-lg-family: Inter;
  --typography-label-lg-size: 18px;
  --typography-label-lg-weight-strong: 500;
  --typography-label-lg-line-height: 28px;
  --typography-label-lg-letter-spacing: -0.4px;
  --typography-label-lg-weight-base: 400;
  --typography-label-xl-family: Inter;
  --typography-label-xl-size: 20px;
  --typography-label-xl-weight-strong: 500;
  --typography-label-xl-line-height: 32px;
  --typography-label-xl-letter-spacing: -0.3px;
  --typography-label-xl-weight-base: 400;
  --typography-body-xl-family: Inter;
  --typography-body-xl-size: 20px;
  --typography-body-xl-weight-base: 400;
  --typography-body-xl-line-height: 30px;
  --typography-body-xl-letter-spacing: -0.3px;
  --typography-body-xl-weight-strong: 600;
  --typography-body-lg-family: Inter;
  --typography-body-lg-size: 18px;
  --typography-body-lg-weight-base: 400;
  --typography-body-lg-line-height: 28px;
  --typography-body-lg-letter-spacing: -0.4px;
  --typography-body-lg-weight-strong: 600;
  --typography-body-md-family: Inter;
  --typography-body-md-size: 16px;
  --typography-body-md-weight-base: 400;
  --typography-body-md-line-height: 24px;
  --typography-body-md-letter-spacing: -0.3px;
  --typography-body-md-weight-strong: 600;
  --typography-body-sm-family: Inter;
  --typography-body-sm-size: 14px;
  --typography-body-sm-weight-base: 400;
  --typography-body-sm-line-height: 22px;
  --typography-body-sm-letter-spacing: -0.2px;
  --typography-body-sm-weight-strong: 600;
  --typography-body-xs-family: Inter;
  --typography-body-xs-size: 12px;
  --typography-body-xs-weight-base: 400;
  --typography-body-xs-line-height: 18px;
  --typography-body-xs-letter-spacing: -0.2px;
  --typography-body-xs-weight-strong: 600;
  --semantics-error-50: #fef2f2;
  --semantics-error-100: #ffe2e2;
  --semantics-error-200: #ffc9c9;
  --semantics-error-300: #ffa2a2;
  --semantics-error-400: #ff6467;
  --semantics-error-500: #fb2c36;
  --semantics-error-600: #e7000b;
  --semantics-error-700: #c10007;
  --semantics-error-800: #9f0712;
  --semantics-error-900: #82181a;
  --semantics-error-950: #460809;
  --semantics-success-50: #f0fdf4;
  --semantics-success-100: #dcfce7;
  --semantics-success-200: #b9f8cf;
  --semantics-success-300: #7bf1a8;
  --semantics-success-400: #05df72;
  --semantics-success-500: #00c950;
  --semantics-success-600: #00a63e;
  --semantics-success-700: #008236;
  --semantics-success-800: #016630;
  --semantics-success-900: #0d542b;
  --semantics-success-950: #032e15;
  --semantics-warning-50: #fefce8;
  --semantics-warning-100: #fef7c3;
  --semantics-warning-200: #fff085;
  --semantics-warning-300: #fdc700;
  --semantics-warning-400: #f0b100;
  --semantics-warning-500: #d08700;
  --semantics-warning-600: #d08700;
  --semantics-warning-700: #a65f00;
  --semantics-warning-800: #894b00;
  --semantics-warning-900: #733e0a;
  --semantics-warning-950: #432004;
  --semantics-gray-50: #f9fafb;
  --semantics-gray-100: #f3f4f6;
  --semantics-gray-200: #e5e7eb;
  --semantics-gray-300: #d1d5dc;
  --semantics-gray-400: #99a1af;
  --semantics-gray-500: #6a7282;
  --semantics-gray-600: #4a5565;
  --semantics-gray-700: #364153;
  --semantics-gray-800: #1e2939;
  --semantics-gray-900: #101828;
  --semantics-gray-950: #030712;
  --semantics-base-white: #ffffff;
  --semantics-base-black: #000000;
  --primitives-global_colors-gray_neutral-50: #f9fafb;
  --primitives-global_colors-gray_neutral-100: #f3f4f6;
  --primitives-global_colors-gray_neutral-200: #e5e7eb;
  --primitives-global_colors-gray_neutral-300: #d1d5dc;
  --primitives-global_colors-gray_neutral-400: #99a1af;
  --primitives-global_colors-gray_neutral-500: #6a7282;
  --primitives-global_colors-gray_neutral-600: #4a5565;
  --primitives-global_colors-gray_neutral-700: #364153;
  --primitives-global_colors-gray_neutral-800: #1e2939;
  --primitives-global_colors-gray_neutral-900: #101828;
  --primitives-global_colors-gray_neutral-950: #030712;
  --primitives-global_colors-gray_iron-50: #f7f7f7;
  --primitives-global_colors-gray_iron-100: #f0f0f1;
  --primitives-global_colors-gray_iron-200: #ececed;
  --primitives-global_colors-gray_iron-300: #cecfd2;
  --primitives-global_colors-gray_iron-400: #94979c;
  --primitives-global_colors-gray_iron-500: #85888e;
  --primitives-global_colors-gray_iron-600: #61656c;
  --primitives-global_colors-gray_iron-700: #373a41;
  --primitives-global_colors-gray_iron-800: #22262f;
  --primitives-global_colors-gray_iron-900: #13161b;
  --primitives-global_colors-gray_iron-950: #0c0e12;
  --primitives-global_colors-gray_warm-50: #fafaf9;
  --primitives-global_colors-gray_warm-100: #f5f5f4;
  --primitives-global_colors-gray_warm-200: #e7e5e4;
  --primitives-global_colors-gray_warm-300: #d6d3d1;
  --primitives-global_colors-gray_warm-400: #a6a09b;
  --primitives-global_colors-gray_warm-500: #79716b;
  --primitives-global_colors-gray_warm-600: #57534d;
  --primitives-global_colors-gray_warm-700: #44403b;
  --primitives-global_colors-gray_warm-800: #292524;
  --primitives-global_colors-gray_warm-900: #1c1917;
  --primitives-global_colors-gray_warm-950: #0c0a09;
  --primitives-global_colors-green-50: #f0fdf4;
  --primitives-global_colors-green-100: #dcfce7;
  --primitives-global_colors-green-200: #b9f8cf;
  --primitives-global_colors-green-300: #7bf1a8;
  --primitives-global_colors-green-400: #05df72;
  --primitives-global_colors-green-500: #00c950;
  --primitives-global_colors-green-600: #00a63e;
  --primitives-global_colors-green-700: #008236;
  --primitives-global_colors-green-800: #016630;
  --primitives-global_colors-green-900: #0d542b;
  --primitives-global_colors-green-950: #032e15;
  --primitives-global_colors-orange-50: #fff7ed;
  --primitives-global_colors-orange-100: #ffedd4;
  --primitives-global_colors-orange-200: #ffd6a7;
  --primitives-global_colors-orange-300: #ffb86a;
  --primitives-global_colors-orange-400: #ff8904;
  --primitives-global_colors-orange-500: #ff6900;
  --primitives-global_colors-orange-600: #f54900;
  --primitives-global_colors-orange-700: #ca3500;
  --primitives-global_colors-orange-800: #9f2d00;
  --primitives-global_colors-orange-900: #7e2a0c;
  --primitives-global_colors-orange-950: #441306;
  --primitives-global_colors-red-50: #fef2f2;
  --primitives-global_colors-red-100: #ffe2e2;
  --primitives-global_colors-red-200: #ffc9c9;
  --primitives-global_colors-red-300: #ffa2a2;
  --primitives-global_colors-red-400: #ff6467;
  --primitives-global_colors-red-500: #fb2c36;
  --primitives-global_colors-red-600: #e7000b;
  --primitives-global_colors-red-700: #c10007;
  --primitives-global_colors-red-800: #9f0712;
  --primitives-global_colors-red-900: #82181a;
  --primitives-global_colors-red-950: #460809;
  --primitives-global_colors-reef-50: #eef5f4;
  --primitives-global_colors-reef-100: #daece8;
  --primitives-global_colors-reef-200: #a7dcd3;
  --primitives-global_colors-reef-300: #50b89b;
  --primitives-global_colors-reef-400: #349775;
  --primitives-global_colors-reef-500: #256c54;
  --primitives-global_colors-reef-600: #1a4b3b;
  --primitives-global_colors-reef-700: #123638;
  --primitives-global_colors-reef-800: #103133;
  --primitives-global_colors-reef-900: #0d2628;
  --primitives-global_colors-reef-950: #0a1e1f;
  --primitives-global_colors-blue-50: #eff6ff;
  --primitives-global_colors-blue-100: #dbeafe;
  --primitives-global_colors-blue-200: #bedbff;
  --primitives-global_colors-blue-300: #8ec5ff;
  --primitives-global_colors-blue-400: #51a2ff;
  --primitives-global_colors-blue-500: #2b7fff;
  --primitives-global_colors-blue-600: #155dfc;
  --primitives-global_colors-blue-700: #1447e6;
  --primitives-global_colors-blue-800: #193cb8;
  --primitives-global_colors-blue-900: #1c398e;
  --primitives-global_colors-blue-950: #162456;
  --primitives-global_colors-indigo-50: #eef2ff;
  --primitives-global_colors-indigo-100: #e0e7ff;
  --primitives-global_colors-indigo-200: #c6d2ff;
  --primitives-global_colors-indigo-300: #a3b3ff;
  --primitives-global_colors-indigo-400: #7c86ff;
  --primitives-global_colors-indigo-500: #615fff;
  --primitives-global_colors-indigo-600: #4f39f6;
  --primitives-global_colors-indigo-700: #432dd7;
  --primitives-global_colors-indigo-800: #372aac;
  --primitives-global_colors-indigo-900: #312c85;
  --primitives-global_colors-indigo-950: #1e1a4d;
  --primitives-global_colors-purple-50: #faf5ff;
  --primitives-global_colors-purple-100: #f3e8ff;
  --primitives-global_colors-purple-200: #e9d4ff;
  --primitives-global_colors-purple-300: #dab2ff;
  --primitives-global_colors-purple-400: #c27aff;
  --primitives-global_colors-purple-500: #ad46ff;
  --primitives-global_colors-purple-600: #9810fa;
  --primitives-global_colors-purple-700: #8200db;
  --primitives-global_colors-purple-800: #6e11b0;
  --primitives-global_colors-purple-900: #59168b;
  --primitives-global_colors-purple-950: #3c0366;
  --primitives-global_colors-emerald-50: #dcfce7;
  --primitives-global_colors-emerald-100: #d0fae5;
  --primitives-global_colors-emerald-200: #a4f4cf;
  --primitives-global_colors-emerald-300: #5ee9b5;
  --primitives-global_colors-emerald-400: #00d492;
  --primitives-global_colors-emerald-500: #00bc7d;
  --primitives-global_colors-emerald-600: #009966;
  --primitives-global_colors-emerald-700: #007a55;
  --primitives-global_colors-emerald-800: #006045;
  --primitives-global_colors-emerald-900: #004f3b;
  --primitives-global_colors-emerald-950: #002c22;
  --primitives-global_colors-teal-50: #f0fdfa;
  --primitives-global_colors-teal-100: #cbfbf1;
  --primitives-global_colors-teal-200: #96f7e4;
  --primitives-global_colors-teal-300: #46ecd5;
  --primitives-global_colors-teal-400: #00d5be;
  --primitives-global_colors-teal-500: #00bba7;
  --primitives-global_colors-teal-600: #009689;
  --primitives-global_colors-teal-700: #00786f;
  --primitives-global_colors-teal-800: #005f5a;
  --primitives-global_colors-teal-900: #0b4f4a;
  --primitives-global_colors-teal-950: #022f2e;
  --primitives-global_colors-cyan-50: #ecfeff;
  --primitives-global_colors-cyan-100: #cefafe;
  --primitives-global_colors-cyan-200: #a2f4fd;
  --primitives-global_colors-cyan-300: #53eafd;
  --primitives-global_colors-cyan-400: #00d3f2;
  --primitives-global_colors-cyan-500: #00b8db;
  --primitives-global_colors-cyan-600: #0092b8;
  --primitives-global_colors-cyan-700: #007595;
  --primitives-global_colors-cyan-800: #005f78;
  --primitives-global_colors-cyan-900: #104e64;
  --primitives-global_colors-cyan-950: #053345;
  --primitives-global_colors-sky-50: #f0f9ff;
  --primitives-global_colors-sky-100: #dff2fe;
  --primitives-global_colors-sky-200: #b8e6fe;
  --primitives-global_colors-sky-300: #74d4ff;
  --primitives-global_colors-sky-400: #00bcff;
  --primitives-global_colors-sky-500: #00a6f4;
  --primitives-global_colors-sky-600: #0084d1;
  --primitives-global_colors-sky-700: #0069a8;
  --primitives-global_colors-sky-800: #00598a;
  --primitives-global_colors-sky-900: #024a70;
  --primitives-global_colors-sky-950: #052f4a;
  --primitives-global_colors-violet-50: #f5f3ff;
  --primitives-global_colors-violet-100: #ede9fe;
  --primitives-global_colors-violet-200: #ddd6ff;
  --primitives-global_colors-violet-300: #c4b4ff;
  --primitives-global_colors-violet-400: #a684ff;
  --primitives-global_colors-violet-500: #8e51ff;
  --primitives-global_colors-violet-600: #7f22fe;
  --primitives-global_colors-violet-700: #7008e7;
  --primitives-global_colors-violet-800: #5d0ec0;
  --primitives-global_colors-violet-900: #4d179a;
  --primitives-global_colors-violet-950: #2f0d68;
  --primitives-global_colors-fuchsia-50: #fdf4ff;
  --primitives-global_colors-fuchsia-100: #fae8ff;
  --primitives-global_colors-fuchsia-200: #f6cfff;
  --primitives-global_colors-fuchsia-300: #f4a8ff;
  --primitives-global_colors-fuchsia-400: #ed6aff;
  --primitives-global_colors-fuchsia-500: #e12afb;
  --primitives-global_colors-fuchsia-600: #c800de;
  --primitives-global_colors-fuchsia-700: #a800b7;
  --primitives-global_colors-fuchsia-800: #8a0194;
  --primitives-global_colors-fuchsia-900: #721378;
  --primitives-global_colors-fuchsia-950: #4b004f;
  --primitives-global_colors-pink-50: #fdf2f8;
  --primitives-global_colors-pink-100: #fce7f3;
  --primitives-global_colors-pink-200: #fccee8;
  --primitives-global_colors-pink-300: #fda5d5;
  --primitives-global_colors-pink-400: #fb64b6;
  --primitives-global_colors-pink-500: #f6339a;
  --primitives-global_colors-pink-600: #e60076;
  --primitives-global_colors-pink-700: #c6005c;
  --primitives-global_colors-pink-800: #a3004c;
  --primitives-global_colors-pink-900: #861043;
  --primitives-global_colors-pink-950: #510424;
  --primitives-global_colors-rose-50: #fff1f2;
  --primitives-global_colors-rose-100: #ffe4e6;
  --primitives-global_colors-rose-200: #ffccd3;
  --primitives-global_colors-rose-300: #ffa1ad;
  --primitives-global_colors-rose-400: #ff637e;
  --primitives-global_colors-rose-500: #ff2056;
  --primitives-global_colors-rose-600: #ec003f;
  --primitives-global_colors-rose-700: #c70036;
  --primitives-global_colors-rose-800: #a50036;
  --primitives-global_colors-rose-900: #8b0836;
  --primitives-global_colors-rose-950: #4d0218;
  --primitives-global_colors-amber-50: #fffbeb;
  --primitives-global_colors-amber-100: #fef3c6;
  --primitives-global_colors-amber-200: #fee685;
  --primitives-global_colors-amber-300: #ffd230;
  --primitives-global_colors-amber-400: #ffb900;
  --primitives-global_colors-amber-500: #fe9a00;
  --primitives-global_colors-amber-600: #e17100;
  --primitives-global_colors-amber-700: #bb4d00;
  --primitives-global_colors-amber-800: #973c00;
  --primitives-global_colors-amber-900: #7b3306;
  --primitives-global_colors-amber-950: #461901;
  --primitives-global_colors-yellow-50: #fefce8;
  --primitives-global_colors-yellow-100: #fef7c3;
  --primitives-global_colors-yellow-200: #fff085;
  --primitives-global_colors-yellow-300: #fdc700;
  --primitives-global_colors-yellow-400: #f0b100;
  --primitives-global_colors-yellow-500: #d08700;
  --primitives-global_colors-yellow-600: #d08700;
  --primitives-global_colors-yellow-700: #a65f00;
  --primitives-global_colors-yellow-800: #894b00;
  --primitives-global_colors-yellow-900: #733e0a;
  --primitives-global_colors-yellow-950: #432004;
  --primitives-global_colors-lime-50: #f7fee7;
  --primitives-global_colors-lime-100: #ecfcca;
  --primitives-global_colors-lime-200: #d8f999;
  --primitives-global_colors-lime-300: #bbf451;
  --primitives-global_colors-lime-400: #9ae600;
  --primitives-global_colors-lime-500: #7ccf00;
  --primitives-global_colors-lime-600: #5ea500;
  --primitives-global_colors-lime-700: #497d00;
  --primitives-global_colors-lime-800: #3c6300;
  --primitives-global_colors-lime-900: #35530e;
  --primitives-global_colors-lime-950: #192e03;
  --primitives-global_colors-slate-50: #f8fafc;
  --primitives-global_colors-slate-100: #f1f5f9;
  --primitives-global_colors-slate-200: #e2e8f0;
  --primitives-global_colors-slate-300: #cad5e2;
  --primitives-global_colors-slate-400: #90a1b9;
  --primitives-global_colors-slate-500: #62748e;
  --primitives-global_colors-slate-600: #45556c;
  --primitives-global_colors-slate-700: #314158;
  --primitives-global_colors-slate-800: #1d293d;
  --primitives-global_colors-slate-900: #0f172b;
  --primitives-global_colors-slate-950: #020618;
  --primitives-global_colors-gray_violet-50: #edeaf0;
  --primitives-global_colors-gray_violet-100: #e4e0e9;
  --primitives-global_colors-gray_violet-200: #c8bfd1;
  --primitives-global_colors-gray_violet-300: #ada0ba;
  --primitives-global_colors-gray_violet-400: #88749b;
  --primitives-global_colors-gray_violet-500: #715987;
  --primitives-global_colors-gray_violet-600: #4d3069;
  --primitives-global_colors-gray_violet-700: #462c60;
  --primitives-global_colors-gray_violet-800: #37224b;
  --primitives-global_colors-gray_violet-900: #2a1a3a;
  --primitives-global_colors-gray_violet-950: #20142c;
  --primitives-global_colors-tidal-50: #eefcfd;
  --primitives-global_colors-tidal-100: #d3f7fa;
  --primitives-global_colors-tidal-200: #adeef4;
  --primitives-global_colors-tidal-300: #74dfec;
  --primitives-global_colors-tidal-400: #34c8dc;
  --primitives-global_colors-tidal-500: #17a2b8;
  --primitives-global_colors-tidal-600: #1789a3;
  --primitives-global_colors-tidal-700: #196e85;
  --primitives-global_colors-tidal-800: #1d5b6d;
  --primitives-global_colors-tidal-900: #1d4c5c;
  --primitives-global_colors-tidal-950: #0d313f;
  --primitives-global_colors-glacier-50: #f1fbfe;
  --primitives-global_colors-glacier-100: #dff5fc;
  --primitives-global_colors-glacier-200: #a0e1f7;
  --primitives-global_colors-glacier-300: #70cdeb;
  --primitives-global_colors-glacier-400: #3aadc9;
  --primitives-global_colors-glacier-500: #227b94;
  --primitives-global_colors-glacier-600: #09495e;
  --primitives-global_colors-glacier-700: #073b4c;
  --primitives-global_colors-glacier-800: #063645;
  --primitives-global_colors-glacier-900: #052a36;
  --primitives-global_colors-glacier-950: #04202a;
  --primitives-global_sizes-0: 0px;
  --primitives-global_sizes-1: 4px;
  --primitives-global_sizes-2: 8px;
  --primitives-global_sizes-3: 12px;
  --primitives-global_sizes-4: 16px;
  --primitives-global_sizes-5: 20px;
  --primitives-global_sizes-6: 24px;
  --primitives-global_sizes-8: 32px;
  --primitives-global_sizes-10: 40px;
  --primitives-global_sizes-12: 48px;
  --primitives-global_sizes-16: 64px;
  --primitives-global_sizes-20: 80px;
  --primitives-global_sizes-24: 96px;
  --primitives-global_sizes-32: 128px;
  --primitives-global_sizes-40: 160px;
  --primitives-global_sizes-48: 192px;
  --primitives-global_sizes-64: 256px;
  --primitives-global_sizes-80: 320px;
  --primitives-global_sizes-90: 360px;
  --primitives-global_sizes-96: 384px;
  --primitives-global_sizes-120: 480px;
  --primitives-global_sizes-192: 768px;
  --primitives-global_sizes-256: 1024px;
  --primitives-global_sizes-320: 1280px;
  --primitives-global_sizes-360: 1440px;
  --primitives-global_sizes-400: 1600px;
  --primitives-global_sizes-480: 1920px;
  --primitives-global_sizes-half: 2px;
  --primitives-global_sizes-1_half: 6px;
  --primitives-global_sizes-2_half: 10px;
  --primitives-global_sizes-3_half: 14px;
  --primitives-global_sizes-infinity: 9999px;
  --theme-brand-50: #eef2ff;
  --theme-brand-100: #e0e7ff;
  --theme-brand-200: #c6d2ff;
  --theme-brand-300: #a3b3ff;
  --theme-brand-400: #7c86ff;
  --theme-brand-500: #615fff;
  --theme-brand-600: #4f39f6;
  --theme-brand-700: #432dd7;
  --theme-brand-800: #372aac;
  --theme-brand-900: #312c85;
  --theme-brand-950: #1e1a4d;
  --theme-brand-alt: #cffafe;
  --colors-text-primary: #101828;
  --colors-text-primary_on-brand: #ffffff;
  --colors-text-secondary: #364153;
  --colors-text-secondary_hover: #1e2939;
  --colors-text-secondary_on-brand: #c6d2ff;
  --colors-text-tertiary: #4a5565;
  --colors-text-quaternary: #6a7282;
  --colors-text-tertiary_on-brand: #c6d2ff;
  --colors-text-quaternary_on-brand: #a3b3ff;
  --colors-text-white: #ffffff;
  --colors-text-placeholder: #6a7282;
  --colors-text-placeholder_subtle: #d1d5dc;
  --colors-text-brand-primary: #312c85;
  --colors-text-brand-secondary: #432dd7;
  --colors-text-brand-tertiary_hover: #432dd7;
  --colors-text-brand-tertiary: #4f39f6;
  --colors-text-error: #e7000b;
  --colors-text-success: #00a63e;
  --colors-text-warning: #d08700;
  --colors-text-disabled: #99a1af;
  --colors-text-brand-disabled: #7c86ff;
  --colors-text-error-disabled: #ff6467;
  --colors-text-error_hover: #c10007;
  --colors-text-tertiary_on-brand-alt: #372aac;
  --colors-text-brand-secondary_alt: #cffafe;
  --colors-border-primary: #d1d5dc;
  --colors-border-secondary: #e5e7eb;
  --colors-border-tertiary: #f3f4f6;
  --colors-border-disabled: #e5e7eb;
  --colors-border-secondary_alt: #00000014;
  --colors-border-brand: #615fff;
  --colors-border-error: #fb2c36;
  --colors-border-warning: #d08700;
  --colors-border-success: #00c950;
  --colors-border-brand-disabled: #c6d2ff;
  --colors-border-error-disabled: #ffc9c9;
  --colors-border-error_subtle: #ffa2a2;
  --colors-border-brand_subtle: #a3b3ff;
  --colors-border-brand_alt: #cffafe;
  --colors-border-tertiary_alt: #00000029;
  --colors-border-mockup: #101828;
  --colors-fg-primary: #101828;
  --colors-fg-secondary: #364153;
  --colors-fg-tertiary: #99a1af;
  --colors-fg-secondary_hover: #1e2939;
  --colors-fg-white: #ffffff;
  --colors-fg-disabled: #99a1af;
  --colors-fg-tertiary_hover: #6a7282;
  --colors-fg-brand-primary: #4f39f6;
  --colors-fg-brand-secondary: #615fff;
  --colors-fg-error: #e7000b;
  --colors-fg-warning: #d08700;
  --colors-fg-success: #00a63e;
  --colors-fg-brand-primary_on-brand-alt: #372aac;
  --colors-fg-brand-disabled: #7c86ff;
  --colors-fg-error-disabled: #ff6467;
  --colors-fg-brand-primary_hover: #432dd7;
  --colors-fg-error_hover: #c10007;
  --colors-fg-brand-secondary_alt: #cffafe;
  --colors-fg-brand-primary_alt: #4f39f6;
  --colors-bg-primary: #ffffff;
  --colors-bg-primary_hover: #f9fafb;
  --colors-bg-primary-solid: #030712;
  --colors-bg-secondary: #f9fafb;
  --colors-bg-secondary_hover: #f3f4f6;
  --colors-bg-tertiary: #e5e7eb;
  --colors-bg-disabled: #f3f4f6;
  --colors-bg-brand-primary: #eef2ff;
  --colors-bg-brand-secondary: #e0e7ff;
  --colors-bg-brand-solid: #4f39f6;
  --colors-bg-brand-section: #372aac;
  --colors-bg-brand-sidebar: #432dd7;
  --colors-bg-brand-solid_hover: #432dd7;
  --colors-bg-error-primary: #fef2f2;
  --colors-bg-error-secondary: #ffe2e2;
  --colors-bg-error-solid: #e7000b;
  --colors-bg-error-solid_hover: #c10007;
  --colors-bg-warning-primary: #fefce8;
  --colors-bg-warning-secondary: #fef7c3;
  --colors-bg-warning-solid: #d08700;
  --colors-bg-success-primary: #f0fdf4;
  --colors-bg-success-secondary: #dcfce7;
  --colors-bg-success-solid: #00a63e;
  --colors-bg-secondary-solid: #4a5565;
  --colors-bg-brand-disabled: #e0e7ff;
  --colors-bg-error-disabled: #ffe2e2;
  --colors-bg-brand-solid_alt: #cffafe;
  --colors-bg-white: #ffffff;
  --colors-bg-active: #f9fafb;
  --colors-bg-brand-sidebar_hover: #4f39f6;
  --colors-effects-shadows-xs-primary: #0a0d120d;
  --colors-effects-shadows-sm-primary: #0a0d121a;
  --colors-effects-shadows-sm-secondary: #0a0d121a;
  --colors-effects-shadows-md-primary: #0a0d120f;
  --colors-effects-shadows-md-secondary: #0a0d121a;
  --colors-effects-shadows-lg-primary: #0a0d120a;
  --colors-effects-shadows-lg-secondary: #0a0d1208;
  --colors-effects-shadows-lg-tertiary: #0a0d1214;
  --colors-effects-shadows-xl-primary: #0a0d120a;
  --colors-effects-shadows-xl-secondary: #0a0d1208;
  --colors-effects-shadows-xl-tertiary: #0a0d1214;
  --colors-effects-shadows-2xl-primary: #0a0d120a;
  --colors-effects-shadows-2xl-secondary: #0a0d122e;
  --colors-effects-shadows-3xl-primary: #0a0d120a;
  --colors-effects-shadows-3xl-secondary: #0a0d1224;
  --colors-effects-skeuomorphic-xs-primary: #0a0d120d;
  --colors-effects-skeuomorphic-xs-inner-border: #0a0d122e;
  --colors-effects-skeuomorphic-xs-inner: #0a0d120d;
  --colors-effects-focus_ring-primary: #ffffff;
  --colors-effects-focus_ring-secondary_brand: #a3b3ff;
  --colors-effects-focus_ring-secondary_error: #ffa2a2;
  --colors-effects-focus_ring-teriary: #0a0d120d;
  --colors-effects-backdrop_blur-sm: #ffffff99;
  --colors-effects-backdrop_blur-md: #ffffff99;
  --colors-effects-backdrop_blur-lg: #ffffff99;
  --colors-effects-backdrop_blur-xl: #ffffff99;
  --colors-alpha-white-10: #ffffff1a;
  --colors-alpha-white-20: #ffffff33;
  --colors-alpha-white-30: #ffffff4d;
  --colors-alpha-white-40: #ffffff66;
  --colors-alpha-white-50: #ffffff80;
  --colors-alpha-white-60: #ffffff99;
  --colors-alpha-white-70: #ffffffb3;
  --colors-alpha-white-80: #ffffffcc;
  --colors-alpha-white-90: #ffffffe6;
  --colors-alpha-black-10: #0000001a;
  --colors-alpha-black-20: #00000033;
  --colors-alpha-black-30: #0000004d;
  --colors-alpha-black-40: #00000066;
  --colors-alpha-black-50: #00000080;
  --colors-alpha-black-60: #00000099;
  --colors-alpha-black-70: #000000b3;
  --colors-alpha-black-80: #000000cc;
  --colors-alpha-black-90: #000000e6;
  --colors-utility-brand-default: #615fff;
  --colors-utility-brand-dark: #432dd7;
  --colors-utility-brand-light: #c6d2ff;
  --colors-utility-brand-brand-zero: #eef2ff;
  --colors-utility-brand-xlight: #e0e7ff;
  --colors-utility-gray-dark: #364153;
  --colors-utility-gray-default: #6a7282;
  --colors-utility-gray-light: #e5e7eb;
  --colors-utility-gray-gray-zero: #f9fafb;
  --colors-utility-gray-xlight: #f3f4f6;
  --colors-utility-error-dark: #c10007;
  --colors-utility-error-default: #fb2c36;
  --colors-utility-error-light: #ffc9c9;
  --colors-utility-error-error-zero: #fef2f2;
  --colors-utility-error-xlight: #ffe2e2;
  --colors-utility-success-dark: #008236;
  --colors-utility-success-default: #00c950;
  --colors-utility-success-light: #b9f8cf;
  --colors-utility-success-success-zero: #f0fdf4;
  --colors-utility-success-xlight: #dcfce7;
  --colors-utility-warning-dark: #a65f00;
  --colors-utility-warning-default: #d08700;
  --colors-utility-warning-light: #fff085;
  --colors-utility-warning-warning-zero: #fefce8;
  --colors-utility-warning-xlight: #fef7c3;
  --colors-utility-blue-dark: #1447e6;
  --colors-utility-blue-default: #2b7fff;
  --colors-utility-blue-light: #bedbff;
  --colors-utility-blue-blue-zero: #eff6ff;
  --colors-utility-blue-xlight: #dbeafe;
  --colors-utility-indigo-dark: #432dd7;
  --colors-utility-indigo-default: #615fff;
  --colors-utility-indigo-light: #c6d2ff;
  --colors-utility-indigo-indigo-zero: #eef2ff;
  --colors-utility-indigo-xlight: #e0e7ff;
  --colors-utility-purple-dark: #8200db;
  --colors-utility-purple-default: #ad46ff;
  --colors-utility-purple-light: #e9d4ff;
  --colors-utility-purple-purple-zero: #faf5ff;
  --colors-utility-purple-xlight: #f3e8ff;
  --colors-utility-fuchsia-dark: #a800b7;
  --colors-utility-fuchsia-default: #e12afb;
  --colors-utility-fuchsia-light: #f6cfff;
  --colors-utility-fuchsia-fuchsia-zero: #fdf4ff;
  --colors-utility-fuchsia-xlight: #fae8ff;
  --colors-utility-pink-dark: #c6005c;
  --colors-utility-pink-default: #f6339a;
  --colors-utility-pink-light: #fccee8;
  --colors-utility-pink-pink-zero: #fdf2f8;
  --colors-utility-pink-xlight: #fce7f3;
  --effects-shadow-xs-primary-x: 0px;
  --effects-shadow-xs-primary-y: 1px;
  --effects-shadow-xs-primary-blur: 2px;
  --effects-shadow-xs-primary-spread: 0px;
  --effects-shadow-sm-primary-x: 0px;
  --effects-shadow-sm-primary-y: 1px;
  --effects-shadow-sm-primary-blur: 2px;
  --effects-shadow-sm-primary-spread: -1px;
  --effects-shadow-sm-secondary-x: 0px;
  --effects-shadow-sm-secondary-y: 1px;
  --effects-shadow-sm-secondary-blur: 3px;
  --effects-shadow-sm-secondary-spread: 0px;
  --effects-shadow-md-primary-x: 0px;
  --effects-shadow-md-primary-y: 2px;
  --effects-shadow-md-primary-blur: 4px;
  --effects-shadow-md-primary-spread: -2px;
  --effects-shadow-md-secondary-x: 0px;
  --effects-shadow-md-secondary-y: 4px;
  --effects-shadow-md-secondary-blur: 6px;
  --effects-shadow-md-secondary-spread: -1px;
  --effects-shadow-lg-primary-x: 0px;
  --effects-shadow-lg-primary-y: 2px;
  --effects-shadow-lg-primary-blur: 2px;
  --effects-shadow-lg-primary-spread: -1px;
  --effects-shadow-lg-secondary-x: 0px;
  --effects-shadow-lg-secondary-y: 4px;
  --effects-shadow-lg-secondary-blur: 6px;
  --effects-shadow-lg-secondary-spread: -2px;
  --effects-shadow-lg-tertiary-x: 0px;
  --effects-shadow-lg-tertiary-y: 12px;
  --effects-shadow-lg-tertiary-blur: 16px;
  --effects-shadow-lg-tertiary-spread: -4px;
  --effects-shadow-xl-primary-x: 0px;
  --effects-shadow-xl-primary-y: 3px;
  --effects-shadow-xl-primary-blur: 3px;
  --effects-shadow-xl-primary-spread: -1.5px;
  --effects-shadow-xl-secondary-x: 0px;
  --effects-shadow-xl-secondary-y: 8px;
  --effects-shadow-xl-secondary-blur: 8px;
  --effects-shadow-xl-secondary-spread: -2px;
  --effects-shadow-xl-tertiary-x: 0px;
  --effects-shadow-xl-tertiary-y: 20px;
  --effects-shadow-xl-tertiary-blur: 24px;
  --effects-shadow-xl-tertiary-spread: -4px;
  --effects-shadow-2xl-primary-x: 0px;
  --effects-shadow-2xl-primary-y: 4px;
  --effects-shadow-2xl-primary-blur: 4px;
  --effects-shadow-2xl-primary-spread: -2px;
  --effects-shadow-2xl-secondary-x: 0px;
  --effects-shadow-2xl-secondary-y: 24px;
  --effects-shadow-2xl-secondary-blur: 48px;
  --effects-shadow-2xl-secondary-spread: -12px;
  --effects-shadow-3xl-primary-x: 0px;
  --effects-shadow-3xl-primary-y: 5px;
  --effects-shadow-3xl-primary-blur: 5px;
  --effects-shadow-3xl-primary-spread: -2.5px;
  --effects-shadow-3xl-secondary-x: 0px;
  --effects-shadow-3xl-secondary-y: 32px;
  --effects-shadow-3xl-secondary-blur: 64px;
  --effects-shadow-3xl-secondary-spread: -12px;
  --effects-skeumorphic-xs-primary-x: 0px;
  --effects-skeumorphic-xs-primary-y: 1px;
  --effects-skeumorphic-xs-primary-blur: 2px;
  --effects-skeumorphic-xs-primary-spread: 0px;
  --effects-skeumorphic-xs-inner-x: 0px;
  --effects-skeumorphic-xs-inner-y: -2px;
  --effects-skeumorphic-xs-inner-blur: 0px;
  --effects-skeumorphic-xs-inner-spread: 0px;
  --effects-skeumorphic-xs-inner_border-x: 0px;
  --effects-skeumorphic-xs-inner_border-y: 0px;
  --effects-skeumorphic-xs-inner_border-blur: 0px;
  --effects-skeumorphic-xs-inner_border-spread: 1px;
  --effects-focus_ring-primary-x: 0px;
  --effects-focus_ring-primary-y: 0px;
  --effects-focus_ring-primary-blur: 0px;
  --effects-focus_ring-primary-spread: 2px;
  --effects-focus_ring-secondary-x: 0px;
  --effects-focus_ring-secondary-y: 0px;
  --effects-focus_ring-secondary-blur: 0px;
  --effects-focus_ring-secondary-spread: 4px;
  --effects-focus_ring-tertiary-x: 0px;
  --effects-focus_ring-tertiary-y: 1px;
  --effects-focus_ring-tertiary-blur: 2px;
  --effects-focus_ring-tertiary-spread: 0px;
  --effects-focus_ring-quaterly-x: 0px;
  --effects-focus_ring-quaterly-y: 1px;
  --effects-focus_ring-quaterly-blur: 3px;
  --effects-focus_ring-quaterly-spread: 0px;
  --buttons-applications-radius: 8px;
  --buttons-applications-spacing: 4px;
  --buttons-applications-h-padding: 10px;
  --buttons-applications-v-padding: 4px;
  --buttons-applications-icon-size: 16px;
  --buttons-applications-alone-padding: 4px;
  --buttons-cta-radius: 8px;
  --buttons-cta-spacing: 6px;
  --buttons-cta-h-padding: 24px;
  --buttons-cta-v-padding: 14px;
  --buttons-cta-alone-padding: 16px;
  --buttons-cta-icon-size: 24px;
  --font-family: Inter;
  --sizes-radius-zero: 0px;
  --sizes-radius-xs: 2px;
  --sizes-radius-sm: 4px;
  --sizes-radius-md: 6px;
  --sizes-radius-lg: 8px;
  --sizes-radius-xl: 10px;
  --sizes-radius-2xl: 12px;
  --sizes-radius-3xl: 16px;
  --sizes-radius-4xl: 20px;
  --sizes-radius-5xl: 24px;
  --sizes-radius-full: 9999px;
  --sizes-spacing-zero: 0px;
  --sizes-spacing-3xs: 2px;
  --sizes-spacing-2xs: 4px;
  --sizes-spacing-xs: 6px;
  --sizes-spacing-sm: 8px;
  --sizes-spacing-md: 10px;
  --sizes-spacing-lg: 12px;
  --sizes-spacing-xl: 14px;
  --sizes-spacing-2xl: 16px;
  --sizes-spacing-3xl: 20px;
  --sizes-spacing-4xl: 24px;
  --sizes-spacing-5xl: 32px;
  --sizes-spacing-6xl: 40px;
  --sizes-spacing-7xl: 48px;
  --sizes-spacing-8xl: 64px;
  --sizes-spacing-9xl: 80px;
  --sizes-spacing-10xl: 96px;
  --sizes-spacing-11xl: 128px;
  --sizes-spacing-12xl: 160px;
  --sizes-spacing-13xl: 192px;
  --sizes-spacing-14xl: 256px;
  --sizes-spacing-15xl: 320px;
  --sizes-breakpoint-mobile: 360px;
  --sizes-breakpoint-tablet: 768px;
  --sizes-breakpoint-desktop_sm: 1280px;
  --sizes-breakpoint-desktop_md: 1440px;
  --sizes-breakpoint-desktop_lg: 1600px;
  --sizes-breakpoint-desktop_xl: 1920px;
  --typography-styles-label-xs-base: normal 400 12px/16px Inter;
  --typography-styles-label-xs-strong: normal 500 12px/16px Inter;
  --typography-styles-label-sm-base: normal 400 14px/20px Inter;
  --typography-styles-label-sm-strong: normal 500 14px/20px Inter;
  --typography-styles-label-md-base: normal 400 16px/24px Inter;
  --typography-styles-label-md-strong: normal 500 16px/24px Inter;
  --typography-styles-label-lg-base: normal 400 18px/28px Inter;
  --typography-styles-label-lg-strong: normal 500 18px/28px Inter;
  --typography-styles-label-xl-base: normal 400 20px/32px Inter;
  --typography-styles-label-xl-strong: normal 500 20px/32px Inter;
  --typography-styles-body-xs-base: normal 400 12px/18px Inter;
  --typography-styles-body-xs-strong: normal 600 12px/18px Inter;
  --typography-styles-body-sm-base: normal 400 14px/22px Inter;
  --typography-styles-body-sm-strong: normal 600 14px/22px Inter;
  --typography-styles-body-md-base: normal 400 16px/24px Inter;
  --typography-styles-body-md-strong: normal 600 16px/24px Inter;
  --typography-styles-body-lg-base: normal 400 18px/28px Inter;
  --typography-styles-body-lg-strong: normal 600 18px/28px Inter;
  --typography-styles-body-xl-base: normal 400 20px/30px Inter;
  --typography-styles-body-xl-strong: normal 600 20px/30px Inter;
  --typography-styles-heading-sm-base: normal 500 24px/32px Inter;
  --typography-styles-heading-sm-strong: normal 600 24px/32px Inter;
  --typography-styles-heading-md-base: normal 500 32px/42px Inter;
  --typography-styles-heading-md-strong: normal 600 32px/42px Inter;
  --typography-styles-heading-lg-base: normal 500 40px/48px Inter;
  --typography-styles-heading-lg-strong: normal 600 40px/48px Inter;
  --typography-styles-heading-xl-base: normal 500 56px/66px Inter;
  --typography-styles-heading-xl-strong: normal 600 56px/66px Inter;
  --typography-styles-heading-2xl-base: normal 500 64px/78px Inter;
  --typography-styles-heading-2xl-strong: normal 600 64px/78px Inter;
  --typography-styles-display-sm-base: normal 500 72px/90px Inter;
  --typography-styles-display-sm-strong: normal 600 72px/90px Inter;
  --typography-styles-display-sm-emphasis: normal 700 72px/90px Inter;
  --typography-styles-display-lg-base: normal 500 96px/110px Inter;
  --typography-styles-display-lg-strong: normal 600 96px/110px Inter;
  --typography-styles-display-lg-emphasis: normal 700 96px/110px Inter;
  --typography-styles-underline-xs-base: normal 400 12px/16px Inter;
  --typography-styles-underline-xs-strong: normal 500 12px/16px Inter;
  --typography-styles-underline-sm-base: normal 400 14px/20px Inter;
  --typography-styles-underline-sm-strong: normal 500 14px/20px Inter;
  --typography-styles-underline-md-base: normal 400 16px/24px Inter;
  --typography-styles-underline-md-strong: normal 500 16px/24px Inter;
  --typography-styles-underline-lg-base: normal 400 18px/28px Inter;
  --typography-styles-underline-lg-strong: normal 500 18px/28px Inter;
  --typography-styles-underline-xl-base: normal 400 20px/32px Inter;
  --typography-styles-underline-xl-strong: normal 500 20px/32px Inter;
  --effect-styles-shadow-xs: 0px 1px 2px 0px #0a0d120d;
  --effect-styles-shadow-sm: 0px 1px 3px 0px #0a0d121a, 0px 1px 2px -1px #0a0d121a;
  --effect-styles-shadow-md: 0px 4px 6px -1px #0a0d121a, 0px 2px 4px -2px #0a0d120f;
  --effect-styles-shadow-lg: 0px 12px 16px -4px #0a0d1214, 0px 4px 6px -2px #0a0d1208, 0px 2px 2px -1px #0a0d120a;
  --effect-styles-shadow-xl: 0px 20px 24px -2px #0a0d1214, 0px 8px 8px -2px #0a0d1208, 0px 3px 3px -1.5px #0a0d120a;
  --effect-styles-shadow-2xl: 0px 24px 48px -12px #0a0d122e, 0px 4px 4px -2px #0a0d120a;
  --effect-styles-shadow-3xl: 0px 32px 64px -12px #0a0d1224, 0px 5px 5px -2.5px #0a0d120a;
  --effect-styles-focus-ring-brand: 0px 0px 0px 4px #a3b3ff, 0px 0px 0px 2px #ffffff;
  --effect-styles-focus-ring-brand-inner: 0px 0px 0px 4px #a3b3ff, 0px 0px 0px 2px #ffffff;
  --effect-styles-focus-ring-error: 0px 0px 0px 4px #ffa2a2, 0px 0px 0px 2px #ffffff;
  --effect-styles-focus-ring-brand-shadow-xs: 0px 0px 0px 4px #a3b3ff, 0px 0px 0px 2px #ffffff, 0px 1px 2px 0px #0a0d120d;
  --effect-styles-focus-ring-brand-shadow-sm: 0px 0px 0px 4px #a3b3ff, 0px 0px 0px 2px #ffffff, 0px 1px 2px 0px #0a0d120d, 0px 1px 3px 0px #0a0d120d;
  --effect-styles-focus-ring-error-shadow-xs: 0px 0px 0px 4px #ffa2a2, 0px 0px 0px 2px #ffffff, 0px 1px 2px 0px #0a0d120d;
  --effect-styles-skeuomorphic-xs: 0px 0px 0px 1px #0a0d122e, 0px -2px 0px 0px #0a0d120d, 0px 1px 2px 0px #0a0d120d;
  --effect-styles-backdrop-blur-sm: 4px;
  --effect-styles-backdrop-blur-md: 8px;
  --effect-styles-backdrop-blur-lg: 16px;
  --effect-styles-backdrop-blur-xl: 32px;
}

.dark {
  --colors-text-primary: #f9fafb;
  --colors-text-primary_on-brand: #f9fafb;
  --colors-text-secondary: #d1d5dc;
  --colors-text-secondary_hover: #e5e7eb;
  --colors-text-secondary_on-brand: #d1d5dc;
  --colors-text-tertiary: #99a1af;
  --colors-text-quaternary: #99a1af;
  --colors-text-tertiary_on-brand: #99a1af;
  --colors-text-quaternary_on-brand: #99a1af;
  --colors-text-white: #ffffff;
  --colors-text-placeholder: #99a1af;
  --colors-text-placeholder_subtle: #364153;
  --colors-text-brand-primary: #f9fafb;
  --colors-text-brand-secondary: #99a1af;
  --colors-text-brand-tertiary_hover: #a3b3ff;
  --colors-text-brand-tertiary: #7c86ff;
  --colors-text-error: #ff6467;
  --colors-text-success: #05df72;
  --colors-text-warning: #f0b100;
  --colors-text-disabled: #4a5565;
  --colors-text-brand-disabled: #4f39f6;
  --colors-text-error-disabled: #e7000b;
  --colors-text-error_hover: #ffa2a2;
  --colors-text-tertiary_on-brand-alt: #372aac;
  --colors-text-brand-secondary_alt: #cffafe;
  --colors-border-primary: #364153;
  --colors-border-secondary: #1e2939;
  --colors-border-tertiary: #1e2939;
  --colors-border-disabled: #1e2939;
  --colors-border-secondary_alt: #ffffff14;
  --colors-border-brand: #7c86ff;
  --colors-border-error: #ff6467;
  --colors-border-warning: #f0b100;
  --colors-border-success: #05df72;
  --colors-border-brand-disabled: #372aac;
  --colors-border-error-disabled: #9f0712;
  --colors-border-error_subtle: #fb2c36;
  --colors-border-brand_subtle: #615fff;
  --colors-border-brand_alt: #cffafe;
  --colors-border-tertiary_alt: #ffffff29;
  --colors-border-mockup: #364153;
  --colors-fg-primary: #ffffff;
  --colors-fg-secondary: #d1d5dc;
  --colors-fg-tertiary: #4a5565;
  --colors-fg-secondary_hover: #e5e7eb;
  --colors-fg-white: #ffffff;
  --colors-fg-disabled: #4a5565;
  --colors-fg-tertiary_hover: #6a7282;
  --colors-fg-brand-primary: #7c86ff;
  --colors-fg-brand-secondary: #615fff;
  --colors-fg-error: #ff6467;
  --colors-fg-warning: #f0b100;
  --colors-fg-success: #05df72;
  --colors-fg-brand-primary_on-brand-alt: #372aac;
  --colors-fg-brand-disabled: #4f39f6;
  --colors-fg-error-disabled: #e7000b;
  --colors-fg-brand-primary_hover: #a3b3ff;
  --colors-fg-error_hover: #ffa2a2;
  --colors-fg-brand-secondary_alt: #cffafe;
  --colors-fg-brand-primary_alt: #d1d5dc;
  --colors-bg-primary: #030712;
  --colors-bg-primary_hover: #1e2939;
  --colors-bg-primary-solid: #101828;
  --colors-bg-secondary: #101828;
  --colors-bg-secondary_hover: #1e2939;
  --colors-bg-tertiary: #364153;
  --colors-bg-disabled: #1e2939;
  --colors-bg-brand-primary: #1e1a4d;
  --colors-bg-brand-secondary: #4f39f6;
  --colors-bg-brand-solid: #4f39f6;
  --colors-bg-brand-section: #1e2939;
  --colors-bg-brand-sidebar: #1e1a4d;
  --colors-bg-brand-solid_hover: #615fff;
  --colors-bg-error-primary: #460809;
  --colors-bg-error-secondary: #e7000b;
  --colors-bg-error-solid: #e7000b;
  --colors-bg-error-solid_hover: #fb2c36;
  --colors-bg-warning-primary: #432004;
  --colors-bg-warning-secondary: #d08700;
  --colors-bg-warning-solid: #d08700;
  --colors-bg-success-primary: #032e15;
  --colors-bg-success-secondary: #00a63e;
  --colors-bg-success-solid: #00a63e;
  --colors-bg-secondary-solid: #4a5565;
  --colors-bg-brand-disabled: #372aac;
  --colors-bg-error-disabled: #9f0712;
  --colors-bg-brand-solid_alt: #cffafe;
  --colors-bg-white: #ffffff;
  --colors-bg-active: #1e2939;
  --colors-bg-brand-sidebar_hover: #372aac;
  --colors-effects-shadows-xs-primary: #ffffff0d;
  --colors-effects-shadows-sm-primary: #ffffff1a;
  --colors-effects-shadows-sm-secondary: #ffffff1a;
  --colors-effects-shadows-md-primary: #ffffff0f;
  --colors-effects-shadows-md-secondary: #ffffff1a;
  --colors-effects-shadows-lg-primary: #ffffff0a;
  --colors-effects-shadows-lg-secondary: #ffffff08;
  --colors-effects-shadows-lg-tertiary: #ffffff14;
  --colors-effects-shadows-xl-primary: #ffffff0a;
  --colors-effects-shadows-xl-secondary: #ffffff08;
  --colors-effects-shadows-xl-tertiary: #ffffff14;
  --colors-effects-shadows-2xl-primary: #ffffff0a;
  --colors-effects-shadows-2xl-secondary: #ffffff2e;
  --colors-effects-shadows-3xl-primary: #ffffff0a;
  --colors-effects-shadows-3xl-secondary: #ffffff24;
  --colors-effects-skeuomorphic-xs-primary: #ffffff0d;
  --colors-effects-skeuomorphic-xs-inner-border: #ffffff2e;
  --colors-effects-skeuomorphic-xs-inner: #ffffff0d;
  --colors-effects-focus_ring-primary: #030712;
  --colors-effects-focus_ring-secondary_brand: #432dd7;
  --colors-effects-focus_ring-secondary_error: #c10007;
  --colors-effects-focus_ring-teriary: #ffffff0d;
  --colors-effects-backdrop_blur-sm: #00000099;
  --colors-effects-backdrop_blur-md: #00000099;
  --colors-effects-backdrop_blur-lg: #00000099;
  --colors-effects-backdrop_blur-xl: #00000099;
  --colors-alpha-white-10: #0d121c1a;
  --colors-alpha-white-20: #0d121c33;
  --colors-alpha-white-30: #0d121c4d;
  --colors-alpha-white-40: #0d121c66;
  --colors-alpha-white-50: #0d121c80;
  --colors-alpha-white-60: #0d121c99;
  --colors-alpha-white-70: #0d121cb3;
  --colors-alpha-white-80: #0d121ccc;
  --colors-alpha-white-90: #0d121ce6;
  --colors-alpha-black-10: #ffffff1a;
  --colors-alpha-black-20: #ffffff33;
  --colors-alpha-black-30: #ffffff4d;
  --colors-alpha-black-40: #ffffff66;
  --colors-alpha-black-50: #ffffff80;
  --colors-alpha-black-60: #ffffff99;
  --colors-alpha-black-70: #ffffffb3;
  --colors-alpha-black-80: #ffffffcc;
  --colors-alpha-black-90: #ffffffe6;
  --colors-utility-brand-default: #615fff;
  --colors-utility-brand-dark: #a3b3ff;
  --colors-utility-brand-light: #c6d2ff;
  --colors-utility-brand-brand-zero: #1e1a4d;
  --colors-utility-brand-xlight: #312c85;
  --colors-utility-gray-dark: #d1d5dc;
  --colors-utility-gray-default: #6a7282;
  --colors-utility-gray-light: #1e2939;
  --colors-utility-gray-gray-zero: #030712;
  --colors-utility-gray-xlight: #101828;
  --colors-utility-error-dark: #ffa2a2;
  --colors-utility-error-default: #fb2c36;
  --colors-utility-error-light: #9f0712;
  --colors-utility-error-error-zero: #460809;
  --colors-utility-error-xlight: #82181a;
  --colors-utility-success-dark: #7bf1a8;
  --colors-utility-success-default: #00c950;
  --colors-utility-success-light: #016630;
  --colors-utility-success-success-zero: #032e15;
  --colors-utility-success-xlight: #0d542b;
  --colors-utility-warning-dark: #fdc700;
  --colors-utility-warning-default: #d08700;
  --colors-utility-warning-light: #894b00;
  --colors-utility-warning-warning-zero: #432004;
  --colors-utility-warning-xlight: #733e0a;
  --colors-utility-blue-dark: #8ec5ff;
  --colors-utility-blue-default: #2b7fff;
  --colors-utility-blue-light: #193cb8;
  --colors-utility-blue-blue-zero: #162456;
  --colors-utility-blue-xlight: #1c398e;
  --colors-utility-indigo-dark: #a3b3ff;
  --colors-utility-indigo-default: #615fff;
  --colors-utility-indigo-light: #372aac;
  --colors-utility-indigo-indigo-zero: #1e1a4d;
  --colors-utility-indigo-xlight: #312c85;
  --colors-utility-purple-dark: #dab2ff;
  --colors-utility-purple-default: #ad46ff;
  --colors-utility-purple-light: #6e11b0;
  --colors-utility-purple-purple-zero: #3c0366;
  --colors-utility-purple-xlight: #59168b;
  --colors-utility-fuchsia-dark: #f4a8ff;
  --colors-utility-fuchsia-default: #e12afb;
  --colors-utility-fuchsia-light: #8a0194;
  --colors-utility-fuchsia-fuchsia-zero: #4b004f;
  --colors-utility-fuchsia-xlight: #721378;
  --colors-utility-pink-dark: #fda5d5;
  --colors-utility-pink-default: #f6339a;
  --colors-utility-pink-light: #a3004c;
  --colors-utility-pink-pink-zero: #510424;
  --colors-utility-pink-xlight: #861043;
}
