.vscode
node_modules
coverage
.env.dev
.env
npm-debug.log
yarn-debug.log
yarn-error.log
logs/
dist
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
